<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Stock client
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">

	<p>Pro použití aplikace je potřeba mít povolený javascript.</p>
</section><!-- /.content -->


