<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sorry <img src="/img/sad_smile.png" title="Don't be sad :-)" />
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Error 404</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

	<i>This page was not found.</i> 
	<br />
	<i>You can go <a ng-href="/">back</a> to the homepage.</i>

</section><!-- /.content -->
