<legend>
    Seznam vlastněných akcií
</legend>

<table class="table table-striped stockList" style="width: 800px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Secret</th>
            <th>Status</th>
            <th class="center">Editace</th>
            <th class="center">Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(index, line) in data">
            <td>{{ line.id }}</td>
            <td>{{ line.name }}</td>
            <td>{{ line.secret }}</td>
            <td class="center">
            	<i class="fa fa-circle" ng-class="(onlineBrokers[line.id]) ? 'text-green' : 'text-red'"></i>
            </td>
            <td class="center">
                <a ng-click="edit( line.id )" title="Editace brokera" class="link">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td class="center">
                <a class="link" href="/broker-detail/{{ line.id }}" title="Detail brokera">
                    <span class="glyphicon glyphicon-stats"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
