<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Historie příkazů
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Historie obchodů</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

	 <div class="row">
	    <div class="col-xs-12">
	        
	        <div class="box" id="history_box">
	            <div class="box-body table-responsive">
	                <table id="history_table" class="table table-bordered table-striped">
	                    <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Příkaz</th>
	                            <th>Jméno</th>
	                            <th>Množství</th>
	                            <th>Cena za jednotku</th>
	                            <th>Celková cena</th>
	                            <th>Datum</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="(ind, item) in history">
	                            <td>{{ $index + 1 }}</td>
	                            <td>{{ orderTypesBig[item.type] }}</td>
	                            <td>{{ item.ticker }}</td>
	                            <td>{{ item.amount }}</td>
	                            <td>{{ item.price | currency:"$"}}</td>
	                            <td>{{ item.amount * item.price |currency:"$"}}</td>
	                            <td>{{ item.date | date:'medium' }}</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div><!-- /.box-body -->
	        </div><!-- /.box -->
	    </div>
	</div>

</section><!-- /.content -->
