<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Stav akcií
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Stav akcií</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

	<div class="col-md-6" style="min-width: 500px;">
	    <div class="box">
	        <div class="box-header">
	            <h3 class="box-title">Obchodovatelné akcie</h3>
	        </div><!-- /.box-header -->
	        <div class="box-body">
	            <table class="table table-bordered">
	                <tbody><tr>
	                    <th style="width: 10px">#</th>
	                    <th>Zkratka</th>
	                    <th>Jednotka</th>
	                    <th>Price</th>
	                    <th style="width: 40px">Detail</th>
	                    <th style="width: 40px">Nákup</th>
	                </tr>
	                <tr ng-repeat="(i, item) in items">
	                    <td>{{ item.id }}</td>
	                    <td>{{ item.ticker }}</td>
	                    <td>{{ item.name }}</td>
	                    <td>
	                    	{{ item.price | currency:"$" }}
	                    </td>
	                    <td align="center">
	                    	<a ng-href="/detail/{{ item.ticker }}">
	                    		<i class="fa fa-bar-chart-o"></i>
	                    	</a>
	                	</td>
	                	<td align="center">
	                    	<a href="#" ng-click="buyStock( i )" >
	                    		<i class="fa fa-book "></i>
	                    	</a>
	                	</td>
	                </tr>
	            </tbody></table>
	        </div><!-- /.box-body -->
	    </div><!-- /.box -->
	</div>

	
</section><!-- /.content -->
