<h1>Stock market viewer</h1>


<ul ng-controller="navCtrl" class="nav nav-tabs">
	<li class="<% if ( ADDR == "/" ) { %>active<% } %>">
		<a href="/">Home</a>
	</li>
	<li class="<% if ( ADDR == "/stocks/" ) { %>active<% } %>">
		<a href="/stocks">Stocks</a>
	</li>
</ul>

<br />