<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Market viewer</title>
    <meta name="description" content="">
    <meta name="author" content="jeezaa">

    <!-- ========= Libs ======= -->
    <script type="text/javascript" src="/reload/reload.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- ===== Angular.JS ===== -->
    <script src="/libs/underscore-min.js"></script>

    <!-- ======= jQuery ======= -->
    <script src="/libs/jquery-1.11.0.min.js"></script>
    <script src="/libs/jquery.flot.js"></script>

    <!-- ===== Bootstrap ====== -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-theme.min.css" />
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>


<!-- 
    

    <link href="/libs/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="/libs/nvd3/d3.v2.js"></script>
    <script src="/libs/nvd3/nv.d3.js"></script>
    <script src="/libs/nvd3/tooltip.js"></script>
    <script src="/libs/nvd3/models/legend.js"></script>
    <script src="/libs/nvd3/models/axis.js"></script>
    <script src="/libs/nvd3/models/scatter.js"></script>
    <script src="/libs/nvd3/models/line.js"></script>
    <script src="/libs/nvd3/models/multiBar.js"></script>
    <script src="/libs/nvd3/models/multiChart.js"></script>
    <script src="/libs/nvd3/stream_layers.js"></script>
 -->

    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
        <div id="all">
          <%- partial('header.ejs') %>

          <div class="view">
            <%- body %>
          </div>
        </div>
    </div>
  </body>
</html>
