<% if ( info ) { %>
	
	<h2>Detail společnosti - <%= info.name %></h2>

<table class="invis detail-info">
	<tr>
		<td>Cena</td>
		<td id="price"></td>
		<td>Změna</td>
		<td id="priceChange"></td>
	</tr>
	<tr>
		<td>Kód</td>
		<td id="code"><%= info.code %></td>
		<td></td>
		<td id=""></td>
	</tr>
</table>

<!-- <link href="/js/d3/src/nv.d3.css" rel="stylesheet" type="text/css">
 -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
<div id="loading-msg">Loading chart data...</div>

<br />
<div id="chart-container" class=" chart_container">
	<div class="range">
		<a type="1" onClick="loadGraph ( this.type );">Minuta</a> | 
		<a type="30" onClick="loadGraph ( this.type );">Hodina</a> | 
		<a type="450" onClick="loadGraph ( this.type );">Den</a>
	</div>
	
	<!-- <div id="chart1" class='with-3d-shadow with-transitions'>
		<svg> </svg>
	</div> -->

    <div id="chart_price" style="width: 100%; height: 450px;"></div>
    <div id="chart_amount" style="width: 100%; height: 250px;"></div>

</div>

<!-- <script src="/js/d3/lib/d3.v3.js"></script>
<script src="/js/d3/nv.d3.js"></script>
<script src="/js/d3/src/utils.js"></script>
<script src="/js/d3/src/tooltip.js"></script>
<script src="/js/d3/src/models/legend.js"></script>
<script src="/js/d3/src/models/axis.js"></script>
<script src="/js/d3/src/models/scatter.js"></script>
<script src="/js/d3/src/models/line.js"></script>
<script src="/js/d3/src/models/historicalBar.js"></script>
<script src="/js/d3/src/models/linePlusBarChart.js"></script>
 -->
<script>
	
	  google.load("visualization", "1", {packages:["corechart"]});

	var intLoad = null;
	var lastTime = 0;
	var maxChartLen = 80;
	var chartType = 0;
	var chart;
	var data = [
				   [["Datum", "-", "Cena" ]],
				   [["Datum", "-","Množství"]]
		  	];

	function renderChart () {

		// ======================== Graf 1 =================
        var options = {
          title: 'Vývoj ceny společnosti',
		  series: { 0: {targetAxisIndex: 0, visibleInLegend: false, pointSize: 0, lineWidth: 0},
		              1: {targetAxisIndex: 1},
		             },
		    vAxes: {
		      0: {textPosition: 'none'},
		      1: {}
		    }
		  };
	

		data[0][1][1] = 0;
		var d = google.visualization.arrayToDataTable( data[0] );

        chart = new google.visualization.LineChart(document.getElementById('chart_price'));
        chart.draw(d, options);

        // ======================== Graf 2 =================
        var options2 = {
          title: 'Zobchodované množství',
          orientation: "horizontal",
		  series: { 0: {targetAxisIndex: 0, visibleInLegend: false, pointSize: 0, lineWidth: 0},
		              1: {targetAxisIndex: 1, color: 'blue' },
		             },
		    vAxes: {
		      0: {textPosition: 'none'},
		      1: {}
		    }
		  };

         data[1][1][1] = 0;
         var d2 = google.visualization.arrayToDataTable( data[1] );

        chart = new google.visualization.BarChart(document.getElementById('chart_amount'));
        chart.draw(d2, options2);

	}

	function addEntry ( e ) {

		var time = new Date ( e.time );

		data[0].push( [ time, null, e.price ] );
		data[1].push( [ time, null, e.amount ] );
	}

	function removeOldEntries () {


		var offset = data[0].length + 1 - maxChartLen;
		if ( offset > 0 ) {

			data[0].splice( 1, offset );
			data[1].splice( 1, offset );
		}
	}

	function processResult ( res ) {
		var e = {};

		for ( i in res.data ) {

			item = res.data[i];

			if ( !  item[1] )
				if ( res.data[i-1] )
					item[1] = res.data[i-1][1];
				else
					item[1] = 0;
				
			if ( ! ( item[2] ))
				if ( res.data[i-1] )
					item[2] = res.data[i-1][2];
				else
					item[2] = 0;
			
			e = {
				time: parseInt( item[0] ),
				price: parseInt( (parseFloat( item[1] ) / parseInt( item[3] )).toFixed(2) ),
				amount: parseInt( item[2] )
			}

			addEntry ( e );
			removeOldEntries ();
		}

		if ( e.time ) {

			lastTime = e.time;
			$("#price").html( e.price+"$" );
		}
		
		$("#priceChange").html( res.lastChange.toFixed(2) + "%" );

		// console.log ( data[0].length );

		renderChart ();

		$("#loading-msg").fadeOut();
		$(".invis").fadeIn();


		intLoad = setTimeout( function () {
			
			loadGraph ( chartType );
		}, chartType * 1000);

	}

	function loadGraph ( type ) {

		var code = $("#code").html();

		if ( type != chartType ) {

			lastTime = 0;
			chartType = type;

			data[0] = [data[0][0]];
			data[1] = [data[1][0]];
		}
		if ( intLoad ) 
			clearTimeout( intLoad );

		$.get("/stock-history/"+code+"/"+type+"?last="+lastTime, processResult);
	}

	$(document).ready ( function () {
		
	    $(window).resize(function(){
	        renderChart()
	    });
		

		loadGraph ( 1 );
	});

</script>


















<% } else { %>
	<h2>Chyba!</h2>
	<p>Zadaná společnost neexistuje..</p>

<% } %>