
<div class="form-box" id="login-box">
    <div class="header">Obnovení hesla</div>
    <form action="" method="post">
        <div class="body bg-gray">
            <div class="form-group">
                <% if ( typeof info != "undefined" ) { %>

                    <div class="callout callout-success login_succ" style="visibility:hidden;">
                        <h4>Postup pro změnu hesla Vám byl odeslán na email.</h4>
                    </div>

                    <script type="text/javascript">

                        $(document).ready( function () {
                            $(".login_succ").css('visibility','visible').hide().fadeIn('slow');
                        });
                    </script>
                    
                <% } else { %>
                    
                    <% if ( msg != "" ) { %>
                        <div class="callout callout-warning login_alert">
                            <h4><%= msg %></h4>
                        </div>
                    <%} %>
                    <input type="text" name="email" value="<%= ( email ) ? email : "" %>" class="form-control" placeholder="Email"/>

                <% } %>
            </div>
        </div>
        <div class="footer">                                                               
            
            <% if ( typeof info == "undefined" ) { %>

                <button type="submit" class="btn bg-olive btn-block">Zaslat email pro obnovu hesla</button>  
            <% } %>

            <a href="/login" class="text-center">Zpět na stránku s přihlášením</a>
        </div>
    </form>
</div>
