<legend>
    Uživatelské informace
</legend>

<div class="detail_info">
    <table class="table able-condensed table-bordered table-striped" style="width: 700px;">
        <tbody>
            <tr>
                <td class="col-md-2">Jméno:</td>
                <td class="col-md-2">{{ info.name }}</td>
                <td class="col-md-2">Email:</td>
                <td class="col-md-2">{{ info.email }}</td>
            </tr>
            <tr>
                <td>Registrace:</td>
                <td>{{ info.regDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>Poslední aktivita:</td>
                <td>{{ info.updated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            <tr>
                <td>Stav účtu:</td>
                <td>{{ info.accountBalance | currency:"$" }}</td>
                <td>Vlastněných akcií:</td>
                <td>{{ info.ownedAmount }}</td>
            </tr>
        </tbody>
    </table>
</div>

<legend>
    Seznam vlastněných akcií
</legend>
<table id="myStocks_table" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Jednotka</th>
            <th>Aktuální cena</th>
            <th>Nákupní cena</th>
            <th>Množství</th>
            <th>Cena celkem</th>
            <th>Výnos</th>
            <th colspan="2">Akce</th>
        </tr>
    </thead>
    <tbody>
        <tr class="client_stock_list_item" ng-repeat="(i, item) in owned">
            <td>{{ $index + 1 }}</td>
            <td title="{{ item.name }}">{{ item.code }}</td>
            <td>{{ item.actualPrice | currency:"$" }}</td>
            <td>{{ item.price / item.priceCount | currency:"$" }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price / item.priceCount * item.amount | currency: "$" }}</td>
            <td ng-class="(item.actualPrice  - item.price / item.priceCount < 0) ? 'text-red' : 'text-green'">
                {{ item.actualPrice * item.amount - item.price / item.priceCount * item.amount | currency:"$" }}
                ({{ (item.actualPrice - item.price / item.priceCount ) / (item.price / item.priceCount) * 100  | number:2 }}%)
            </td>
            <td align="center">
                <a ng-click="showListDetail( i )" title="Detailní výpis nakoupených akcií" class="link">
                    <i class="fa fa-info"></i>
                </a>
            </td>
            <td align="center">
                <a ng-href="/stocks/{{ item.ticker }}" title="Vývoj ceny akcie společnosti">
                    <i class="fa fa-bar-chart-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br />
<br />
<legend>
    Seznam nevyřízených příkazů
</legend>

<table class="table table-striped stockList" style="width: 900px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Jednotka</th>
            <th>Typ příkazu</th>
            <th>Cena</th>
            <th>Množství</th>
            <th>Celková cena</th>
            <th>Datum podání příkazu</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(index, line) in pending">
            <td>{{ $index + 1 }}</td>
            <td>
                <a href="/stocks/{{ line.ticker }}">
                    {{ line.ticker }}
                </a>
            </td>
            <td>
            	{{ orderTypes[line.type] }}
            </td>
            <td>{{ line.price | currency:"$" }}</td>
            <td>{{ line.amount - line.filledAmount }}</td>
            <td>{{ (line.amount - line.filledAmount) * line.price | currency:"$" }}</td>
            <td>{{ line.date | date:"d.M.yyyy hh:mm:ss"}}</td>
        </tr>
    </tbody>
</table>


<br />
<br />
<legend>
    Historie příkazů
</legend>

<table class="table table-striped stockList" style="width: 900px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Příkaz</th>
            <th>Jméno</th>
            <th>Množství</th>
            <th>Cena za jednotku</th>
            <th>Celková cena</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(ind, item) in history">
            <td>{{ $index + 1 }}</td>
            <td>{{ orderTypesBig[item.type] }}</td>
            <td>
                <a href="/stocks/{{ item.ticker }}">
                    {{ item.ticker }}
                </a>
            </td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price | currency:"$"}}</td>
            <td>{{ item.amount * item.price |currency:"$"}}</td>
            <td>{{ item.date | date:'yyyy-MM-dd HH:mm:ss.sss' }}</td>
        </tr>
    </tbody>
</table>