<legend>
    Historie příkazů
</legend>

<table class="table table-striped stockList" style="width: 900px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Klient</th>
            <th>Příkaz</th>
            <th>Jméno</th>
            <th>Množství</th>
            <th>Cena za jednotku</th>
            <th>Celková cena</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(ind, item) in history">
            <td>{{ $index + 1 }}</td>
            <td>
                <a href="/clients/{{ item.client }}">
                    {{ clients[item.client] }}
                </a>
            </td>
            <td>{{ types[item.type] }}</td>
            <td>
                <a href="/stocks/{{ item.code }}">
                    {{ item.code }}
                </a>
            </td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price | currency:"$"}}</td>
            <td>{{ item.amount * item.price |currency:"$"}}</td>
            <td>{{ item.date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
    </tbody>
</table>
