<h3>Detail akcie {{ info.name }} ({{ info.code }})</h3>

<div class="detail_info">
    <table class="table table-bordered table-striped" style="max-width: 700px;">
        <tr>
            <td>Kód:</td>
            <td>{{ info.code }}</td>
            <td>Počet akcií na trhu:</td>
            <td>{{ info.amount }}</td>
        </tr>
        <tr>
            <td>Cena:</td>
            <td>{{ info.price | currency:"$" }}</td>
            <td>Změna:</td>
            <td ng-class="(info.priceChange >= 0) ? 'green' : 'red'">{{ info.priceChange }}%</td>
        </tr>
        <tr>
            <td>Bid:</td>
            <td>{{ info.bestSellPrice | currency:"$" }}</td>
            <td>Ask:</td>
            <td>{{ info.bestBuyPrice | currency:"$" }}</td>
        </tr>
        <tr>
            <td>Nabízených akcií:</td>
            <td>{{ info.amountOrdersItemsSell }}</td>
            <td>Požadovaných akcií:</td>
            <td>{{ info.amountOrdersItemsBuy }}</td>
        </tr>
        <tr>
        	<!-- <td>Celkem držených akcií:</td>
        	<td>{{ info.amountOwned }}</td>
        	<td>Výnos:</td>
        	 <td ng-class="(info.price  - item.price / item.priceCount < 0) ? 'red' : 'green'">
            	{{ item.actualPrice * item.amount - item.price / item.priceCount  * item.amount | currency:"$" }}
            	{{ ( item.actualPrice - item.price / item.priceCount)   / ( item.price / 100 ) | number:2 }}%
            </td> -->
        </tr>
    </table>
</div>

<br />


<h3>Vlastněné akcie</h3>

<table id="myStocks_table" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Klient</th>
            <th>Aktuální cena</th>
            <th>Nákupní cena</th>
            <th>Množství</th>
            <th>Cena celkem</th>
            <th>Výnos</th>
        </tr>
    </thead>
    <tbody>
        <tr class="client_stock_list_item" ng-repeat="(client, item) in ownedClients">
            <td>{{ $index + 1 }}</td>
            <td><a href="/clients/{{client}}">{{ clients[client] }}</a></td>
            <td>{{ item.actualPrice | currency:"$" }}</td>
            <td>{{ (item.priceCount / item.amount ) | currency:"$" }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.priceCount | currency:"$" }}</td>
            <td ng-class="(info.price * item.amount - item.priceCount < 0) ? 'text-red' : 'text-green'">
                {{ info.price * item.amount - item.priceCount | currency:"$" }}
                {{ ( info.price -  item.priceCount / item.amount)   / ( item.priceCount / item.amount / 100 ) | number:2 }}%
            </td>
        </tr>
        <tr class="client_stock_list_sum" ng-repeat="(i, item) in ownedSum">
            <td></td>
            <td>Suma:</td>
            <td>{{ item.actualPrice | currency:"$" }}</td>
            <td>{{ item.price / item.priceCount | currency:"$" }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price / item.priceCount * item.amount | currency: "$" }}</td>
            <td ng-class="(item.actualPrice  - item.price / item.priceCount < 0) ? 'text-red' : 'text-green'">
                {{ item.actualPrice * item.amount - item.price / item.priceCount * item.amount | currency:"$" }}
                {{ ( info.price -  item.price / item.priceCount)   / ( item.price / item.amount / 100 ) | number:2 }}%
            </td>
        </tr>
    </tbody>
</table>

<br />
<h3>Vývoj ceny</h3>
.. GRAF ..