/*


.orderSum .max {
	font-weight: bold;
}

.orderSum .minImbalance {
	color: red;
}


.presetData {
	margin-left: 10px;
}

.fright {
	float: right;
}

.clear {

	clear: both;
}

legend span {
	cursor: pointer;
	float: right;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}
*/


.initLoading {
    background-color: #f9f9f9;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100000;
}


.initLoading span {
 	position: fixed;
 	left: 0px;
 	right: 0px;
 	top: 50%;
 	margin-top: -40px;
 	font-size: 30px;
 	text-align: center;
}

.initLoading i {
	margin-right: 10px;
}


.sorting_desc,
.sorting_asc {
    text-decoration: underline;
}